---
title: Jeremy Brien
layout: 'base.njk'
---

<body>
    <main>
        <section class="hero">
            <h1>Jeremy Brien</h1>
            <img class=hero-avatar src="./assets/jeremy-on-orange.jpg"/>
            <p>i'm jeremy brien</p>
            <p>i'm an expert in project management</p>
            <p>when i'm not working with development teams, i'm creating art and designing clothes</p>
        </section>
    </main>